@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="background-color:cadetblue">
stuff
</div>

<div class="row" style="text-align:center">
    <h1>Introduction</h1>
    <a href="/Home/Resume">
        <i class="fa fa-file" style="font-size:48px"></i>
        <p>View Resum&egrave;</p>
    </a>
</div>

<div class="row" style="background-color:coral">
    <h1 style="text-align:center">Portfolio</h1>
</div>

<div class="row row-centered">
    <h1 style="text-align:center">Contact</h1>
    <div class="col-lg-2">&nbsp;</div>
    <div class="col-lg-2 col-centered" style="text-align:center">
        <a href="mailto:eystercolin@gmail.com" style="cursor: pointer">
            <i class="fa fa-envelope" style="font-size:48px;"></i>
            <p>eystercolingmail.com</p>
        </a>
    </div>
    <div class="col-lg-2 col-centered" style="text-align:center">
        <a href="https://github.com/Cjegy9" style="cursor: pointer">
            <i class="fa fa-github" style="font-size:48px;"></i>
            <p>github.com/Cjegy9</p>
        </a>
    </div>
    <div class="col-lg-2 col-centered" style="text-align:center">
        <a href="https://facebook.com/colineyster" style="cursor: pointer">
            <i class="fa fa-facebook-square" style="font-size:48px;"></i>
            <p>facebook.com/colineyster</p>
        </a>
    </div>
    <div class="col-lg-2 col-centered" style="text-align:center">
        <a href="https://linkedin.com/in/eystercolin" style="cursor: pointer">
            <i class="fa fa-linkedin-square" style="font-size:48px;"></i>
            <p>linkedin.com/in/eystercolin</p>
        </a>
    </div>
    <div class="col-lg-2">&nbsp;</div>
</div>

