@{
    ViewBag.Title = "Home Page";
}

<div class="row bg">
    <div class="myimage">
        <img src="~/Content/images/heatherandi.png" class="img-circle" />
        <h1>Colin Eyster</h1>
        <span>Web Developer</span>
    </div>
</div>

<div class="row" style="text-align:center" id="introduction">
    <h1>Introduction</h1>
    <div class="col-lg-2">&nbsp;</div>
    <div class="col-lg-8">
        <h3>
            Donec mattis venenatis purus sed vehicula. Vestibulum interdum quam eu lorem feugiat, in varius mi feugiat.
            Suspendisse tincidunt feugiat dui, eu vulputate libero pretium vitae. Nullam ut augue eu neque placerat elementum.
            Maecenas facilisis elementum metus, eget condimentum orci dictum ut. Quisque tempus consectetur dictum. Morbi laoreet vel tortor ac ullamcorper.
            Maecenas facilisis elementum metus, eget condimentum orci dictum ut. Quisque tempus consectetur dictum. Morbi laoreet vel tortor ac ullamcorper.
        </h3>
        <a href="/Home/Resume">
            <i class="fa fa-file" style="font-size:48px"></i>
            <p>View Resum&egrave;</p>
        </a>
    </div>
    <div class="col-lg-2">&nbsp;</div>
    
    
</div>

<div class="row" style="background-color:darkslategrey">
    <h1 style="text-align:center">Portfolio</h1>
    <div class="col-lg-2">&nbsp;</div>
    <div class="col-lg-8">
        <div class="row" id="portfolio">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">MSTGym</h3>
                    </div>
                    <img src="http://placehold.it/150x150" class="img-circle">
                    <p>Info about the project</p>
                    <a href="#mstModal" role="button" class="btn btn-primary btn-block" data-toggle="modal">Learn About Project</a>
                    <div class="modal fade" id="mstModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4>MST Gym</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Content or picture here</p>
                                </div>
                                <div class="modal-footer">
                                    <p>close button or github link</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">MSTGym</h3>
                    </div>
                    <img src="http://placehold.it/150x150" class="img-circle">
                    <p>Info about the project</p>
                    <a href="#mstModal" role="button" class="btn btn-primary btn-block" data-toggle="modal">Learn About Project</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">MSTGym</h3>
                    </div>
                    <img src="http://placehold.it/150x150" class="img-circle">
                    <p>Info about the project</p>
                    <a href="#mstModal" role="button" class="btn btn-primary btn-block" data-toggle="modal">Learn About Project</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">&nbsp;</div>
</div>


<div class="row row-centered" id="contact">
    <h1 style="text-align:center">Contact</h1>
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-2 col-centered" style="text-align:center">
        <a href="mailto:eystercolin@gmail.com" style="cursor: pointer">
            <i class="fa fa-envelope" style="font-size:48px;"></i>
            <p>eystercolingmail.com</p>
        </a>
    </div>
    <div class="col-md-2 col-centered" style="text-align:center">
        <a href="https://github.com/Cjegy9" style="cursor: pointer">
            <i class="fa fa-github" style="font-size:48px;"></i>
            <p>github.com/Cjegy9</p>
        </a>
    </div>
    <div class="col-md-2 col-centered" style="text-align:center">
        <a href="https://facebook.com/colineyster" style="cursor: pointer">
            <i class="fa fa-facebook-square" style="font-size:48px;"></i>
            <p>facebook.com/colineyster</p>
        </a>
    </div>
    <div class="col-md-2 col-centered" style="text-align:center">
        <a href="https://linkedin.com/in/eystercolin" style="cursor: pointer">
            <i class="fa fa-linkedin-square" style="font-size:48px;"></i>
            <p>linkedin.com/in/eystercolin</p>
        </a>
    </div>
    <div class="col-md-2">&nbsp;</div>
</div>

