<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body style="background-color:dimgrey">
    <div class="row row-centered">
        <div class="col-lg-3">&nbsp;</div>
            <div class="col-lg-6 col-centered">
                <img src="~/Content/images/resume.jpg" style="max-width: 100%"/>
            </div>
        <div class="col-lg-3">&nbsp;</div>
    </div>
</body>
</html>
